* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.login-user,
.signup-user {
  display: flex;
  justify-content: center;
  margin: 100px 20px;
  width: 100%;
}
.login-user-form {
  max-width: 500px !important;
  width: 100% !important;
  padding: 20px;
}

.signup-user-form {
  max-width: 500px !important;
  width: 100% !important;
  padding: 20px;
}
.login-user-form h2,
.signup-user-form h2 {
  margin-bottom: 30px;
  text-align: center;
}
.login-user-form input,
.signup-user-form input {
  display: block;
  width: 100%;
  margin: 30px 0px;
  padding: 5px 20px;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  font-weight: 400;
}
.login-user-form input:focus,
.signup-user-form input:focus {
  outline: none;
  border-bottom: 1px solid #317ff8;
}
.login-user-form .form-buttons,
.signup-user-form .form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
.login-user-form .login-button,
.signup-user-form .register-button {
  padding: 3px 10px;
  background: #317ff8;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 500;
}
.login-user-form .register-button,
.signup-user-form .login-button {
  color: #317ff8;
  background: transparent;
  border: none;
  font-weight: 500;
  text-decoration: none;
}
.signup-user-form input[type="file"] {
  border: none;
  margin-top: 5px;
  margin-left: 0px;
}
.signup-user-form .user-profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
/* chat page styles */
.chats {
  display: flex;
  height: 100vh;
}
.chat-side {
  flex: 0.75;
  overflow-y: auto;
}
.contact-side {
  flex: 0.25;
  overflow-y: auto;
}
.contact-header,
.chat-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f0f2f5;
}
.contact-header .contact-header-list ul,
.chat-header-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.contact-header-list .user-profile-picture,
.chat-header-list .selected-user-profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}
.contact-header-list ul li {
  margin: 0px 8px;
  color: white;
  font-weight: 500;
}
.online-user-sign div{
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #00FF00;
}
.chat-header-list ul li {
  margin: 3px 8px;
  font-weight: 500;
}
.contact-header-list .user-logout-btn {
  cursor: pointer;
  background: #c8c9ca;
  padding: 3px 10px;
  border-radius: 3px;
}
.contacts {
  padding: 5px 10px;
  background: #005fff;
  height: 100vh;
  overflow-y: auto;
  background-color: #005fff;
  background-clip: padding-box;
}
.contacts-search input {
  width: 100%;
  padding: 7px 8px;
  margin: 5px 0px;
  border: none;
  outline: none;
  background: #69a2ff;
  color: white;
  border-radius: 5px;
}
.contact-list {
  margin-top: 3px;
}
.contact-item {
  padding: 5px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.contact-item:hover {
  background: #004ccc;
}
.selected-user {
  padding: 7px 0px;
  border-radius: 5px;
  cursor: pointer;
  background: #004ccc;
  margin: 5px 0px;
}
.contact-item .user-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.contact-item ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* justify-content: space-around; */
  color: white;
  align-items: center;
}
.contact-item li {
  padding: 5px 10px;
}
.user-contact-credentials ul {
  display: block;
}
.user-contact-credentials ul li {
  margin: 0;
  padding: 0;
}
/* if no contact is selected than the styles of chat side content  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
/* chat form styles */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.chat-messages {
  flex: 1;
}
.chat-form {
  margin-top: auto;
  padding: 10px;
  background: #f0f2f5;
}
.chat-form form {
  display: flex;
  align-items: center;
}
.chat-form form .message-input {
  width: 100%;
  flex: 1;
}
.chat-form form input {
  width: 100%;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.chat-form form .send-message-btn {
  border: none;
  outline: none;
  margin-left: 5px;
}
.chat-form form .send-message-btn img {
  width: 30px;
  height: 30px;
}
.emoji-picker {
  margin: 0;
  padding: 0;
}
.emoji-picker p {
  cursor: pointer;
  font-size: 20px;
}
.chat-container {
  padding: 10px 15px;
}
/* messages style */
.message-sender {
  display: flex;
  justify-content: flex-end;
  margin: 3px;
}
.message-receiver {
  display: flex;
  justify-content: flex-start;
  margin: 3px;
}
.message-sender span {
  background-color: #e2f1ff;
  padding: 8px;
  border-radius: 8px;
}

.message-receiver span {
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 8px;
}
/* scroll bar styling */
.contacts::-webkit-scrollbar,
.chat-side::-webkit-scrollbar {
  width: 5px;
}

.contacts::-webkit-scrollbar-thumb,
.chat-side::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.contacts::-webkit-scrollbar-thumb:hover,
.chat-side::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.contacts::-webkit-scrollbar-track,
.chat-side::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
